@media all and (max-width: 1023px) {
  .promo-section {
    display: none;
  }
}

#promo {
  background-image: url('/images/promo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px #ccc;
  padding-top: 38.08%;
  position: relative;
}

#promo-info {
  color: rgb(118, 42, 44);
  position: absolute;
  top: calc(50% - 6rem);
  right: 5%;
}

#promo-title {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: v_ALoveOfThunder;
  text-align: center;
}

#promo-btn-block {
  margin-top: 2rem;
  text-align: center;
}