@media all and (max-width: 1023px) {
  #logo-img img {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  #logo-img img {
    height: 125px;
  }
}

#logo {
  display: inline-block;
  margin: 0 auto;
}

#logo-img {
  padding-top: 1rem;
}