.blog-posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.blog-posts-grid .block-item {
  display: grid;
  grid-template-rows: 2fr auto 1fr;
}

.blog-post-title {
  border-bottom: 2px solid rgb(118, 42, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.blog-post-content {
  text-align: left;
}

.blog-post-btn {
  text-align: center;
  margin-top: 1rem;
}

@media all and (min-width: 1024px) {
  .blog-posts-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 1023px) {
  .blog-posts-grid {
    grid-template-columns: 1fr;
  }

  .blog-posts-grid .block-item {
    width: 100%;
  }
}