.block-15years {
  background-image: url('/images/advantages/15years.png');
}

.block-specialists {
  background-image: url('/images/advantages/specialists.png');
}

.block-recommendation {
  background-image: url('/images/advantages/recommendation.png');
}

.block-247 {
  background-image: url('/images/advantages/247.png');
}