.footer {
  background: hsl(0,0%,100%);
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem -0.3rem hsla(0,0%,0%,0.2);
  font-weight: bold;
  color: rgb(118, 42, 44);
  padding: 1rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  width: calc(90% - 2rem);
}