.block-mediation {
  background-image: url('/images/services/mediation.png');
}

.block-agreement {
  background-image: url('/images/services/agreement.png');
}

.block-court {
  background-image: url('/images/services/court.png');
}

.block-bailiff {
  background-image: url('/images/services/bailiff.png');
}

.block-work {
  background-image: url('/images/services/work.png');
}

.block-family {
  background-image: url('/images/services/family.png');
}

.block-immovables {
  background-image: url('/images/services/immovables.png');
}

.block-legacy {
  background-image: url('/images/services/legacy.png');
}

.block-business {
  background-image: url('/images/services/business.png');
}

.block-debts {
  background-image: url('/images/services/debts.png');
}

.block-taxes {
  background-image: url('/images/services/taxes.png');
}

.block-bankruptcy {
  background-image: url('/images/services/bankruptcy.png');
}

.block-crp {
  background-image: url('/images/services/crp.png');
}

.block-hd {
  background-image: url('/images/services/hd.png');
}

.block-ra {
  background-image: url('/images/services/ra.png');
}

.block-lawyer {
  background-image: url('/images/services/lawyer.png');
}

.service-info .block-text {
  border-bottom: 2px solid rgb(118, 42, 44);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.service-info .block-img {
  margin-bottom: 1rem;
}