@media all and (max-width: 1023px) {
  #services-title {
    width: 100%;
  }

  .service-block {
    margin-top: 1rem;
    width: 100%;
  }

  .service-block:first-child {
    margin-top: 0;
  }
}

@media all and (min-width: 1024px) {
  .service-block {
    margin: 1rem;
    max-width: calc(25% - 2rem);
    width: auto;
  }
}

#section-services {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

#services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.service-block {
  background: hsl(0,0%,100%);
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem -0.3rem hsla(0,0%,0%,0.2);
  font-weight: bold;
  color: rgb(118, 42, 44);
  height: 20rem;
  display: flex;
  position: relative;
}

.service-block-content {
  padding: 1rem;
  margin: auto;
  text-align: center;
  width: 100%;
}

.service-block-btn {
  position: absolute;
  left: 0;
  bottom: 1rem;
  text-align: center;
  width: 100%;
}