@media all and (min-width: 1024px) {
  .block-contacts {
    text-align: center;
    width: calc(50% - 1rem);
  }

  .contacts-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}