@media all and (max-width: 1023px) {
  .map-iframe {
    height: 50vh;
  }
}

@media all and (min-width: 1024px) {
  .map-iframe {
    height: 75vh;
  }
}

.map-iframe {
  position: relative;
  width: 100%;
}

.block-contacts ul {
  list-style: none;
  margin: 0;
}

.block-contacts ul li {
  padding: 0.5rem 0;
}