#promo {
  background-image: url('/images/promo.jpg');
  background-size: contain;
  box-shadow: inset 0 0 10px #999;
  padding-top: 38.08%;
  position: relative;
}

#promo-info {
  color: rgb(118, 42, 44);
  position: absolute;
  top: calc(50% - 6rem);
  right: 15%;
}

#promo-title {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: v_ALoveOfThunder;
  text-align: center;
}

#promo-btn-block {
  margin-top: 2rem;
  text-align: center;
}

#promo-btn {
  /* animation: glowing 1500ms infinite; */
  padding: 1rem 2rem;
  height: auto;
}

/* @keyframes glowing {
  0% { background-color: rgb(118, 42, 44) }
  50% { background-color: rgb(135, 42, 44) }
  100% { background-color: rgb(150, 42, 44); }
} */