/** 
  Mobile
**/
@media all and (max-width: 1023px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    text-align: left;
  }

  .header-mobile-menu {
    width: 20%;
  }

  .header-mobile-social {
    text-align: right;
    width: 80%;
  }

  .toolbar-menu li a {
    padding: 0.5rem 1rem;
  }

  .mobile-main-menu {
    background: #fff;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    position: absolute;
    top: 2.4rem;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    width: 70%;
    z-index: 9999;
  }

  .mobile-main-menu li a {
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 1rem 0;
  }

  .mobile-main-menu li:last-child a {
    border-bottom: none;
  }

  .mobile-main-menu li a:hover {
    text-decoration: none;
  }
}

/**
  Desktop
**/
@media all and (min-width: 1024px) {
  .header-mobile {
    display: none;
  }

  .toolbar-menu li a {
    padding: 1rem;
  }
}

.toolbar {
  background: #37353a;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  text-shadow: 0 0 1px #000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
}

.toolbar .section-content {
  padding: 0 1rem;
}

.toolbar-info {
  float: left;
}

.toolbar-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar-social {
  float: right;
}

.toolbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar-menu li {
  display: inline-block;
}

.toolbar-menu li a {
  color: #fff;
  display: block;
}

.toolbar-menu li a:hover {
  background: #fff;
  color: #000;
  transition: all 0.5s;
  text-decoration: none;
}